@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD:DevOps_Web-App/Pages/Index.cshtml
    <h1 class="display-4">'Welcome to Satya's DevOps Concept' Testing CI!!</h1>
=======
    <h1 class="display-4">'Welcome to Satya's CI/CD Testing!!!'</h1>
>>>>>>> 720997d820a81ab5a573de8573ede49dd5d2a215:DevOps_Web-App/DevOps_Web-App/Pages/Index.cshtml
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
